---
---

@import '{{ site.theme }}';

header h1:before {
  content: '>_ ';
  font-size: 24px;
}

a#a-title {
  text-decoration: none;
}

.about_inner {
  padding: 10px 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.post_year {
  margin: 2.5em 0 0.5em;
}
